<?xml version="1.0"?>
<robot name="izzyboat">


  <material name="hull">
    <color rgba="1.0 1.0 0.0 1.0"/>
  </material>

  <!-- The following is for VSCode urdf preview to work -->
  <!-- <link name="base_link"/>
  <joint name="base_to_izzy" type="fixed">
    <parent link="base_link"/>
    <child link="izzy/base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <link name="izzy/base_link">
    <visual name="frame">
      <geometry>
        <box size="1.77 0.07 0.035"/>
      </geometry>
      <origin xyz="0.31 0 0.5"/>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <visual name="hull">
      <geometry>
        <box size="1.3 0.8 0.3"/>
      </geometry>
      <origin xyz="0.10 0 0.0"/>
      <material name="hull"/>
    </visual>
    <visual name="bow">
      <geometry>
        <box size="0.55 0.55 0.3"/>
      </geometry>
      <origin xyz="0.765 0 0.0" rpy="0 0 0.7854"/>
      <material name="hull"/>
    </visual>

  </link>

  <link name="izzy/camera_forward">
     <visual>
      <geometry>
        <cylinder length="0.07" radius="0.05"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="-0.015 0 0"/>
      <material name="camera">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
  </link>

  <link name="izzy/camera_forward_optical">
     <visual>
      <geometry>
        <box size=".5 .3 .01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 1.5"/>
      <material name="image_plane">
        <color rgba="0.0 0.5 0.0 0.5"/>
      </material>
    </visual>
  </link>


  <joint name="base_to_camera_forward" type="fixed">
    <parent link="izzy/base_link"/>
    <child link="izzy/camera_forward"/>
    <origin xyz="1.25 0 0.5" rpy="0 0 0"/>
  </joint>

  <joint name="camera_forward_to_camera_forward_optical" type="fixed">
    <parent link="izzy/camera_forward"/>
    <child link="izzy/camera_forward_optical"/>
    <origin xyz="0 0 0" rpy="-1.57075 0 -1.57075"/>
  </joint>


  <link name="izzy/forward_oak_camera">
     <visual>
      <geometry>
        <cylinder length="0.07" radius="0.05"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="-0.015 0 0"/>
      <material name="oak_camera">
        <color rgba="0.2 0.2 0.3 1.0"/>
      </material>
    </visual>
  </link>


  <link name="izzy/forward_oak_camera_optical"/>

  <joint name="oak_forward_to_oak_forward_optical" type="fixed">
    <parent link="izzy/forward_oak_camera"/>
    <child link="izzy/forward_oak_camera_optical"/>
    <origin xyz="0 0 0" rpy="-1.57075 0 -1.57075"/>
  </joint>

  <joint name="base_to_oak_forward" type="fixed">
    <parent link="izzy/base_link"/>
    <child link="izzy/forward_oak_camera"/>
    <origin xyz="0.378 0 1.241" rpy="-0.01 0.04 0"/>
  </joint>


  <link name="izzy/top_camera">
     <visual>
      <geometry>
        <cylinder length="0.07" radius="0.05"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="-0.015 0 0"/>
      <material name="top_camera">
        <color rgba="0.2 0.5 0.3 1.0"/>
      </material>
    </visual>
  </link>


  <link name="izzy/top_camera_optical"/>

  <joint name="top_to_top_optical" type="fixed">
    <parent link="izzy/top_camera"/>
    <child link="izzy/top_camera_optical"/>
    <origin xyz="0 0 0" rpy="-1.57075 0 -1.57075"/>
  </joint>

  <joint name="oak_to_top" type="fixed">
    <parent link="izzy/forward_oak_camera"/>
    <child link="izzy/top_camera"/>
    <origin xyz="0 0 0.28" rpy="0 1.0 0"/>
  </joint>


  <link name="izzy/deltat">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <origin xyz="0 0 0"/>
      <material name="deltat">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="base_to_deltat" type="fixed">
    <parent link="izzy/base_link"/>
    <child link="izzy/deltat"/>
    <origin xyz="-.1530 0 -0.15" rpy="3.14159 0 3.14159"/>
  </joint>


  <!-- <link name="izzy/norbit">
    <visual>
      <geometry>
        <box size="0.15 0.15 0.1"/>
      </geometry>
      <origin xyz="0 0 0"/>
      <material name="norbit">
        <color rgba="0.5 0.5 0.75 1.0"/>
      </material>
    </visual>
  </link>
  <joint name="base_to_norbit" type="fixed">
    <parent link="izzy/base_link"/>
    <child link="izzy/norbit"/>
    <origin xyz="0 0 -0.18" rpy="3.14159 0.0 0.0"/>
  </joint> -->


</robot>
